@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600&family=Poppins:wght@200;300;400;500&display=swap');
body {
  font-family: 'Karla', sans-serif;
}
.ag-format-container {
    width: 1142px;
    margin: 0 auto;
    margin-top: 0rem;
  }
  
  .ag-table_box {
    margin: 200px 0;
    padding: 0 0rem;
    margin-top: 0rem;
  }
  .ag-table_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    color: rgb(186, 29, 29);
  }
  .ag-table-header_title,.ag-table-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,.11);
  }
  .ag-table-header_descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    -webkit-box-flex: 1;
    -ms-flex: 1 0 400px;
    flex: 1 0 400px;
  }
  .ag-table-header_item {
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    
    font-weight: 600;
  }
  .ag-table-header_item,
  .ag-table-body_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    margin: 0 0 0 10px;
  
    font-size: 16px;
    color: #000000;
  
    position: relative;
  }
  .ag-table-header_item:before,
  .ag-table-body_info:before {
    content: "";
    height: 1px;
    background-color: rgba(0,0,0,.11);
  
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
  }
  
  
  .ag-table-body_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ag-table-body_item:hover {
    background-color: rgba(200,200,200,.1);
  
    opacity: .8;
  }
  .ag-table_title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0,0,0,.11);
  
    color: #000;
  }
  .ag-table_descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    -webkit-box-flex: 1;
    -ms-flex: 1 0 400px;
    flex: 1 0 400px;
  
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ag-table-body_item:last-child .ag-table-body_info {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  .ag-icon_check:after {
    content: "";
    display: block;
    height: 12px;
    width: 6px;
    border: solid;
    border-width: 0 2px 2px 0;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-table-header_title {
      display: none;
    }
    .ag-table-header_item {
      margin: 0 5px;
      padding: 15px;
  
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    .ag-table-header_item:before,
    .ag-table-body_info:before {
      display: none;
      background: none;
    }
    
  
    .ag-table_body {
      background-color: #FFF;
  
      -webkit-box-shadow: 0 15px 50px rgba(73,82,111,.2),0 4px 7px rgba(73,82,111,.04);
      -moz-box-shadow: 0 15px 50px rgba(73,82,111,.2),0 4px 7px rgba(73,82,111,.04);
      -o-box-shadow: 0 15px 50px rgba(73,82,111,.2),0 4px 7px rgba(73,82,111,.04);
      box-shadow: 0 15px 50px rgba(73,82,111,.2),0 4px 7px rgba(73,82,111,.04);
    }
    .ag-table-body_item {
      display: block;
    }
    .ag-table_title {
      display: block;
  
      text-align: center;
    }
  
    .ag-table-body_info:first-child,
    .ag-table-body_info:nth-child(2) {
      background: transparent;
  
      color: #000;
    }
    .ag-table_title {
      border: 0 none;
    }
    .ag-table_descr {
      padding: 25px 0;
      border-bottom: 1px solid rgba(0,0,0,.06);
    }
    .ag-table-body_info:first-child {
      color: #8e68d7;
    }
    .ag-table-body_info:nth-child(2) {
      color: #10b1a9;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-table-header_descr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  .info{
	  position: relative;
    background:#ffffff;
    width: 100%;
    padding: 0rem;

  }
  .header--wrapper img{
    width: 300px;
    height: 100px;
    cursor: pointer;
    border-radius:  0%;
    margin-right: 30rem;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title{
    color: rgb(186, 29, 29);
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.info-user{
  padding: auto;
  
}
.moo{
  margin-top: 0rem;
  width: 70%;
  height: 5%;
  background: #ffffff;
  margin-left: 12%;
}
.retour {
	margin-top: 0rem;
  margin-left: 11rem;
}
.retour i {
	font-size: 30px;
	color: rgb(192, 192, 192);
}
.retour i:hover {
	color: rgb(128, 128, 128);
}
button{
  border-radius: 30%;
  margin-left: 67rem;
  color: rgb(0, 0, 0);
  background: #fff;
  border-color: rgb(186, 29, 29);
}
button:hover{
  background: rgb(186, 29, 29);
}
  